<ul>
  <div class="line">
    <% @pokemons.each do |pokemon| %>
      <div class="item">
        <li><%= link_to image_tag("#{pokemon.number}.svg", id: "icon"), pokemon_path(pokemon, language: "ermahgerd") %></li>
      </div>
    <% end %>
  </div>
</ul>