/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: Helvetica;
  text-align: center;
  border: solid 5px;
}

#lang_nav{
  background-color: #ddd;
  padding: 2.5%;
  border: solid 5px;
  border-color: blue;
}

#lang_bulba{
  border: solid 5px;
  border-color: green;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
  color: #eee;
}
#pkmn_name{
  font-size: 2.5em;
  border: solid 5px;
  border-color: purple;
  padding: 2.5%;
}

#sprite{
  border: solid 5px;
  border-color: orange;
}

#pkmn_sprite_number{
  border: solid 5px;
  border-color: red;
  width: 50%;
  margin-left: 25%;
}



